.stack {
    margin:10px;
}

h1 {text-align:center;}

.fix {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.template {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

.hardening {
  background-color: rgba(55,126,184,0.5);
}
.error {
  background-color: rgba(228,26,28,0.5);
}
.except {
  background-color: rgba(255,127,0,0.5);
}
.logic {
  background-color: rgba(152,78,163,0.5);
}
.refactor {
  background-color: rgba(77,175,74,0.5);
}
.misc {
  background-color: rgba(255,255,51,0.3);
}

.dashed {
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}

/* for dropdown menu */
.my-dropbtn {
	background-color: transparent !important;
	padding: 1px !important;
	font-size: 13px !important;
	border-style: groove !important;
	border-width: 1px !important;
	cursor: pointer !important;
	min-height: 1.5em !important; /* overwrite the default height */
	border-color: transparent !important; /* overwrite the default border color */
	box-shadow: none !important; /* overwrite the default border shadow */
}

.my-dropdown {
	position: relative;
	display: inline-block;
}

.my-dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	min-width: 160px;
	z-index:2;
}

.my-dropdown-content a {
	position: relative;
	color: black;
	padding: 1px;
	text-decoration: none;
	display: block; 
	white-space: nowrap;
}

/* show the dropdown out of the pre block, but is a little ugly
.dropdown:hover {
position: absolute;
} */

.my-dropdown:hover .my-dropdown-content {
	display: block;	
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	opacity:1;
}

.my-dropdown:hover .my-dropbtn {
	display: block;
	background-color: white;
}
